{% extends "base.html" %}
{% block title %}Preferences{% endblock %}
{% block content %}
<h1 class="title">Preferences</h1>
<form action="/preferences" method="post">

    <div class="field">
        <label class="label">Theme</label>
        <p class="control has-icons-left">
        <span class="select">
            <select name="theme">
                {% for theme_option in theme_options|sort: %}
                <option {{ 'selected' if theme_option == theme.name }}>{{ theme_option }}</option>
                {% endfor %}
            </select>
        </span>
        <span class="icon is-small is-left">
            <i class="fas fa-palette"></i>
        </span>
        </p>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-primary">Save</button>
        </div>
    </div>

</form>
{% endblock %}
